/* fonts*/
@font-face
{
	font-family: Einalight;
	src: url("../openly-website/font/Eina02-Light.ttf");
}

@font-face
{
	font-family: Einasemibold;
	src: url("../openly-website/font/Eina02-SemiBold.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: Einaregular;
	src: url("../openly-website/font/Eina02-Regular.ttf");
	font-weight: 900; 
	color: rgb(45,45,45);
}




/* heading */
.heading2vwsemibold{
	font-size: 2vw;
	font-family: "Einasemibold";
}

.heading15vwsemibold{
	font-size: 1.5vw;
	font-family: "Einasemibold";
}

.heading1vwsemibold{
	font-size: 1vw;
	font-family:"Einasemibold";
}	




/* textcolor */
.fadeblack{color:rgb(45,45,45);}
.whitesmoke{color:whitesmoke;}
.deepgrey{color:rgb(115, 115, 115)}

/* background fadeblack */
.fadeblackbackground{background-color: rgb(45,45,45);}


/* General */
body::-webkit-scrollbar{display: none;}
body{
	width:100vw;
	margin:0;
	font-size: 1vw;
	font-family: 'Einaregular';
}

	header{
		position: fixed;
		top: 0;
		height: 3.5vw;
		width:100vw;
		background-color: #fff;
		box-shadow: 0vw 0vw 3vw 0vw #0002;
	}


/* Header */

@media (min-aspect-ratio:1/1){


	/* header */
	header{
		display: flex;	
		align-items: center;
		padding-right: 10vw;
		padding-left:10vw;
		box-sizing:border-box;
		transition-duration: 0.3s;
	}


		.header-items{
			margin-left:5vw;
			padding:0.8vw;
			padding-top: 0.5vw;
			padding-bottom: 0.5vw;
			text-decoration: none;
			color:rgb(35,35,35);
			font-size: 0.9vw;
			font-family: "Einasemibold";
			display:flex;
			align-items: center;

		}
			#logocontent{
				margin-left:0;
				transition-duration: 0.3s;
			}

			#logotextopenly{
				text-decoration: none;
				margin: 0 0 0 0.4vw;
				font-family: "Einasemibold";
				transition-duration: 0.3s;
			}

			#header-logo{
				margin:0;
				padding:0;
				height: 2.7vw;
				transition-duration: 0.3s;
			}

			#header-spacing{
				flex-grow: 1;
			}
}