/* fonts*/
	@font-face
	{
		font-family: Einalight;
		src: url(../font/Eina02-Light.ttf);
	}

	@font-face
	{
		font-family: Einasemibold;
		src: url(../font/Eina02-SemiBold.ttf);
		font-weight: bold;
	}
	
	@font-face
	{
		font-family: Einaregular;
		src: url(../font/Eina02-Regular.ttf);
		font-weight: bold; 
	}

/* General */
body::-webkit-scrollbar{display: none;}

body{
	width:100vw;
	margin:0;
	font-size: 1vw;
	font-family: 'Einaregular';
}

header{
	position: fixed;
	top: 0;
	height: 3.5vw;
	width:100vw;
	background-color: #fff;
	box-shadow: 0vw 0vw 3vw 0vw #0002;
}

	


/* for desktop */
@media (min-aspect-ratio:1/1){
	header{
		display: flex;	
		align-items: center;
		padding-right: 10vw;
		padding-left:10vw;
		box-sizing:border-box;
		transition-duration: 0.3s;
	}

		.header-items{
			margin-left:5vw;
			padding:0.8vw;
			padding-top: 0.5vw;
			padding-bottom: 0.5vw;
			text-decoration: none;
			color:rgb(35,35,35);
			font-size: 0.vw;
			font-family: "Einasemibold";
		}

			#header-logo{
				margin:0;
				padding:0;
				height: 2.7vw;
				transition-duration: 0.3s;
			}

			#header-spacing{
				flex-grow: 1;
			}

	.landing{
		margin-top:8vw;
		height:50vw;
		display:flex;
		justify-content: space-evenly;
		align-items: center;
		background-image: url('images/indexback.jpeg');
		overflow:hidden;
		font-family: "Einaregular";
		padding-left: 5vw;
	}

	.smalltext{
		font-size: 2rem;
		font-family: 'Einasemibold';
	}

	#contentbuttons{
		display:flex;
		justify-content: space-evenly;
	}
	
	#downloadbutton{
		border:none;
		margin-top: 4vw;
		height: 3vw;
		width: 10vw;
		font-family: "Einabold";
		font-size: 1vw;
		border-radius: 0.2vw;
		background-color: rgb(45,45,45);
		color: white;
	}

	#text-button-content{
		width:40vw;
	}

		#text-button-content #rotatetext{
			color:rgb(35,35,35);
			font-family: 'Einasemibold';
		}
	#landingimage{
		width:60vw;
	}

	#getintouch{
		text-decoration: unset;
		font-size: 1vw;
		margin-top: 4vw;
		margin-left: 3.5vw;
		line-height: 3vw;
		font-size: 0.9vw;
	}
		
		#getintouchimage{
			padding: 0;
			height: 1vw;
		}


	
		
	.download{
		display: flex;
		justify-content: space-around;
		align-items:center;
		background-color: rgb(45, 45, 45);
		padding:5vw;
		color: white;
		font-size: 2vw;
		box-shadow: 0vw 0vw 3vw 0vw #0002;

	}
		.downloadtext{
			font-size: 1vw;
		}

	
	#marketplacetext{
		color: rgb(45, 45, 45);
		font-weight: 900;
		font-size: 2vw;
		margin-top: 3vw;
		text-align: center;
	}

	.demoapp{
		display:flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 1vw;
		border-radius: 0.5vw;
	}
		.demoapp-text{
			margin:1vw;
			padding-left: 1vw;
			padding-right:1vw;
			font-size: 0.9vw;
		}
	
	
	
	
	.ubsection{
		height: 12vw;
		margin-left: 10vw;
		margin-right: 10vw;
		display: flex;
		justify-content: space-evenly;
		text-align: start;
		margin-top: 5vw;
		border-radius: 0.5vw;
	}

		#user-section{
			margin:0;
			height:20vw;
			width:33.5vw;
			background-color: rgb(200, 200, 200);
		
		}

			.ubsectionmaintext{
				font-size: 2vw;
				font-family: "Einasemibold";
			}
				#openlybusiness{
					color:rgb(200, 200, 200);
				}

		#business-section{
			margin:0;
			height:20vw;
			width:33.5vw;
			background-color: rgb(35,35,35);
		}

		#businesstext{
			color:rgb(200, 200, 200);
		}

	

/* for mobile and tablets */
@media (max-aspect-ratio:1/1){
	header{
		height:16vw;
	}

   
    #landing{
        height:150vw;
    }
}