/* for desktop */
@media (min-aspect-ratio:1/1){
	header{
		display: flex;	
		align-items: center;
		padding-right: 10vw;
		padding-left:10vw;
		box-sizing:border-box;
		transition-duration: 0.3s;
	}

		.header-items{
			margin-left:5vw;
			padding:0.8vw;
			padding-top: 0.5vw;
			padding-bottom: 0.5vw;
			text-decoration: none;
			color:rgb(35,35,35);
			font-size: 0.vw;
			font-family: "Einasemibold";
		}

			#header-logo{
				margin:0;
				padding:0;
				height: 2.7vw;
				transition-duration: 0.3s;
			}

			#header-spacing{
				flex-grow: 1;
			}





	.landingpage{
		height:50vw;
		width:90vw;
		margin: 8vw 5vw 0vw 5vw;
		display:flex;
	}

		.landing-element{
			display: flex;
			justify-content: center;
			flex-flow: column;
		}

			#landingpage-textcontent{
				width:35vw;
			}

				/* #rotate-text{

				} */

					.static-text{
						font-size:1.5vw;
						font-family: 'Einasemibold';
					}

					.text-animation{
						font-size: 2vw;
						font-family: 'Einasemibold';
					}


				/* #infotext{
					
				} */

				#landingpage-clickcontent{
					display:flex;
					justify-content: space-around;
					align-items: center;
				}

					#downloadbutton{
						border:none;
						margin-top: 4vw;
						height: 3vw;
						width: 10vw;
						font-family: "Einabold";
						font-size: 1vw;
						border-radius: 0.2vw;
						background-color: rgb(45,45,45);
						box-shadow: 0vw 0vw 3vw 0vw #0003;
					}

					#getintouch{
						display:flex;
						justify-content: center;
						text-align: end;
						margin-top: 4vw;
						height: 1vw;
						width: 15vw;
					}

						#getintouchimage{
							padding-top: 2px;
							height: 1vw;
							width:1vw;
						}
		
			#landingpage-imagecontent{
				height:50vw;
				width:50vw;
			}		
					
	.download{
		display: flex;
		justify-content: space-around;
		align-items:center;
		margin: 5vw;
		margin-top:0vw;
		padding:5vw;
		color: white;
		font-size: 2vw;
		background-color: rgb(45, 45, 45);
		border-radius: 0.5vw;
		box-shadow: 0vw 0vw 3vw 0vw #0003;
	}
		.downloadtext{
			font-size: 1vw;
		}

	
	#marketplacetext{
		color: rgb(45, 45, 45);
		font-weight: 900;
		font-size: 2vw;
		margin-top: 3vw;
		text-align: center;
		font-family: "Einasemibold";
		font-weight: 700;
	}

	#demoappcontainer{
		margin-top: 5vw;
		margin-left: 10vw;
		margin-right: 10vw;
		height:16vw;
		width:80vw;
		display:flex;
		justify-content: space-between;
		text-align: center;
	}
	
		.demoapp {
			height:12.5vw;
			width:12.5vw;
			border-radius: 0.5vw;
		}

		.demosnap{
			box-shadow: 0vw 0vw 3vw 0vw #0003;

		}


			.text{
				height:3.5vw;
			}
	

	
	
	
	#ubsection{
		margin:5vw;
		width:90vw;
		height:28vw;
		margin-top: 10vw;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5vw;
	}

	.ubsectionelement{
		margin:0;
		text-align: center;
		height:28vw;
		width:42.5vw;
		border-radius: 0.5vw;
		box-shadow: 0vw 0vw 3vw 0vw #0003;
		}
		#user-section{
			background-color: rgb(200, 200, 200);		
		}

			.ubsectionmaintext{
				font-size: 2vw;
				font-family: "Einasemibold";
			}
			
		#business-section{
			background-color: rgb(35,35,35);
		}
	}