body::-webkit-scrollbar{display: none;}

body{
	width:100vw;
	margin:0;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-evenly;
	align-items:flex-start;
}

/*for desktop*/
@media (min-aspect-ratio:1/1){
	.tiles{
		width:49.25vw;
		height:30.5vw;
        margin-bottom:0.5vw;
        background-color: grey;
    }
    
    #landing{
		width:99vw;
		height:60vw;
    }

    #flex-container{
        height:91.5vw;
        width:100vw;
        display:flex;
        margin-left: 0.5vw;
        flex-flow:column wrap;
        justify-content: space-evenly;
        align-items:flex-start;
        
    }
        #dailyneeds{
            height:60vw;
        }
        #professional{
            height:30vw;
        }
        #block13{
            height:30vw;
        }
        #block14{
            height:60vw;
        }
    #register{
        width:99vw;

    }
}

/* for mobile and tablets */
@media (max-aspect-ratio:1/1){
    .tiles{
        width:99vw;
		height:60.5vw;
        margin-bottom:0.5vw;
        background-color: grey;
    }
    #landing{
        height:150vw;
    }
}
